<template>
  <v-toolbar>
      <v-spacer>Zalevschi Stanis</v-spacer>

      <v-toolbar-items>
        <v-btn flat href="/">Home</v-btn>
        <v-btn flat href="/Input">Input</v-btn>
        <v-btn flat href="/Output">Output</v-btn>
        <v-btn flat href="/Students">Students</v-btn>
      </v-toolbar-items>
    </v-toolbar>



</template>

<script>
    import Input from './components/Input'
    import Output from './components/Output'
    import Students from './components/Students'
    export default {
      name: 'App',
      components: {
        Input, Output, Students
      },
      data () {
        return {
          //
        }
      }
    }
</script>

<style>

</style>
